/*Фон*/
body {
	background: #f8f8f8;
}
/*Header*/
.header img{
	width: 150px;
}

.menu {
	list-style-type: none;
	
}

.menu a{
	color: #408140;
	font-size: 20px;
	font-style: italic;
	text-decoration: none;
}

.menu a:hover{
	color: #A15151;
}
/*Other links*/
.otherItems a, .catalog a{
	color: darkgreen;
	font-style: italic;
	text-decoration: none;
}

.otherItems a:hover,
.catalog a:hover{
	color: #A15151;
}

/* item pages*/
.items img{
	outline: 2px solid lightgrey;
}

.items img:hover{
	outline: none;
}


.items h3{
	color: black;
	font-size: 18px;
	font-weight: 400;
	background: #eaeaea;
}
.items h4{
	font-size: 20px;
	font-family: fantasy;
}

.shortDescription {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.longDescription {
	color: #484343;
	font-size: 16px;
	font-kerning: 400;
	line-height: 24px;
	text-align: left;
}

.shortDescription::first-letter,
.longDescription::first-letter{
	font-size: 20px;
	font-family: fantasy;
	font-style:oblique;
 
}
/*Technical Data*/


.characteristic {
	border-collapse: collapse;
	
}
.characteristic td {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid lightgrey;
	color: black;
	font-size: 18px;
	font-weight: normal;
	
}

.title_table td {

	height: 40px;
	text-align: center;
	color: #003333;
	font-size: 22px;
	font-weight: bold;
}

.characteristic tr td:first-child{
	font-weight: bold;
}

.characteristic tr td.no_bold {
	font-weight: normal;
}




.feedback input[type="text"]{
	width: 200px;
	height:20px;
	text-align: center;
	color: grey;
	text-transform: capitalize;
	font-size: 16px;
}

.feedback textarea{
	text-transform: capitalize;
	width:425px;
	height:100px;
	font-size: 14px;
}

iframe{
	border: 2px solid grey;
}

#Naming {
	color: #A15151;
	text-align: center;
	font-style: italic;
	font-size: 50px;
}

hr {
	color: #A15151;

}


.catalog .item {
	width: 150px;
	text-align: center;
	background: white;
	border: 1px solid #c6c6c6;
}

h1 {
	font-size: 40px;
	color: #333;
}

#mail:focus {
	background: lightgreen;
	color: #A63232;
}